* {
    color: gray;
}

#d1 {
    color: red;
}

p {
    color: blue;
}

.c2 {
    color: green;
}

h1 {
    color: yellow;
}

div, .div1 {
    color: purple;
}

.font{
    font-style: 100px;
    font-weight: bold;
    direction: rtl;
    text-decoration: line-through;
    letter-spacing: 20px;
    text-transform: capitalize;
    text-shadow: 4px 3px 10px #333;
}