@font-face {
    font-family: yagut;
    src: url(Yagut.ttf);
}

* {
    color: gray;
    font-family: yagut;
}

#d1 {
    color: red;
    position: fixed;
    width: 100%;
    direction: rtl;
    text-decoration: line-through;
    padding: 20px;
    bottom: 400px;
}

p {
    color: blue;
}

.c2 {
    color: green;
}

h1 {
    color: yellow;
}

div,
.div1 {
    color: purple;
}

.font {
    font-style: 100px;
    font-weight: bold;
    direction: rtl;
    text-decoration: line-through;
    letter-spacing: 20px;
    text-transform: capitalize;
    text-shadow: 4px 3px 10px #333;
}

.color {
    color: #609100;
}

#p1 {
    background: violet;
    padding-left: 100px;
    text-align: center;
    border: 5px solid #14fff7;
    border-top-left-radius: 25px;
    max-width: 1200px;
    padding: 50px 0;
}

#a1:hover {
    margin: 0 auto;
    color: blue;
}

#a1:active {
    color: #609100;
}

#da {
    text-align: center;
}

#t1 {
    border: 3px solid #14fff7;
}

.minh {
    color: white;
    background: red;
    min-height: 50px;
    margin: 5px 0;
}

.reab {
    background-color: chocolate;
    position: relative;
    width: 300px;
    height: 300px;
    padding: 20px;
}

.reab span {
    position: absolute;
    color: white;
    bottom: 4px;
}

.over {
    padding: 20px;
    margin-top: 5px;
    background-color: gold;
    width: 200px;
    height: 500px;
    overflow: auto;
}

.com > p {
    color: red;
}

.com + p {
    color: green !important;
}

.com ~ p {
    color: rgb(169, 65, 225) !important;
}